<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tiimi.io</title>
    </head>
    <body>
        <h1 th:text="${book.title}">Book</h1>

        <form method="POST" th:action="@{~/books/{id}/edit(id=${book.id})}">
            <label>Title:</label><br/>
            <input type="text" name="title" th:value="${book.title}" required/><br/>
            <label>Author:</label><br/>
            <input type="text" name="author" th:value="${book.author}" required/><br/>
            <label>ISBN:</label><br/>
            <input type="text" name="ISBN" th:value="${book.ISBN}" required/><br/>
            <label>Tags:</label><br/>
            <input type="text" name="tags" th:value="${book.tags}"/><br/>       
            <button type="submit" name="send">Edit</button>
             
            <form>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        READ
      </label>
    </div>

        </form>
    </body>
</html>

